<mat-tab-group> 
    <mat-tab label="BTC"> 
        
        <table class="table tabe-striped table-hover table-sm">
            <tr class="thead-light">
                <th>Bids</th>
                <th>Asks</th>
                <th>Dados da Crypto Currency</th>
            </tr>
            <tr>
                <td>
                    <table *ngIf="orderBookBtc">
                        <tr *ngFor="let bid of orderBookBtc.bids">
                            <td style="color: green;">{{bid.side}} {{bid.amount}} {{bid.price}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table *ngIf="orderBookBtc">
                        <tr *ngFor="let ask of orderBookBtc.asks">
                            <td style="color: green;">{{ask.side}} {{ask.amount}}  {{ask.price}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div *ngIf="orderBookDataBtc">
                        Maior Preço: {{orderBookDataBtc.maxprice}} <br />
                        Menor Preço: {{orderBookDataBtc.minprice}} <br />
                        Média Preço no momento: {{orderBookDataBtc.averageprice}} <br />
                        Média preço 5 segundos: {{orderBookDataBtc.averagepriceLast5seconds}} <br/>
                        Média Quant Acumulada : {{orderBookDataBtc.averageamountquantity}} <br/>
                    </div>
                </td>
            </tr>
            
        </table>
</mat-tab>
    <mat-tab label="ETH">
        
        <table class="table tabe-striped table-hover table-sm" >
            <tr class="thead-light">
                <th>Bids</th>
                <th>Asks</th>
                <th>Dados da Crypto Currency</th>
            </tr>
            <tr >
                <td>
                    <table *ngIf="orderBookEth">
                        <tr *ngFor="let bid of orderBookEth.bids">
                            <td style="color: green;">{{bid.amount}} {{bid.price}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <table *ngIf="orderBookEth">
                        <tr *ngFor="let ask of orderBookEth.asks">
                            <td style="color: green;">{{ask.amount}}  {{ask.price}}</td>
                        </tr>
                    </table>
                </td>
                <td>
                    <div *ngIf="orderBookDataEth">
                        Maior Preço: {{orderBookDataEth.maxprice}} <br />
                        Menor Preço: {{orderBookDataEth.minprice}} <br />
                        Média Preço no momento: {{orderBookDataEth.averageprice}} <br />
                        Média preço 5 segundos: {{orderBookDataEth.averagepriceLast5seconds}} <br/>
                        Média Quant Acumulada : {{orderBookDataEth.averageamountquantity}} <br/>
                    </div>
                </td>
            </tr>
        </table> 
    </mat-tab>
</mat-tab-group>